<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Word counting tool</title>
    //
    <link href="mystyle.css" rel="stylesheet">
    //
    <link rel="stylesheet" href="style.css" type="text/css"/>
    //
    <link rel="stylesheet" href="reset.css" type="text/css"/>
    <link href="../static/css/my.css"
          th:href="@{css/my.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div id="lang-selector">
<select name="language" id="langSelector" onchange="window.location='/?lang='+this.value">
    <option value="EN" th:selected="${#locale.language}=='en'">EN</option>
    <option value="RU" th:selected="${#locale.language}=='ru'">RU</option>
    <option value="KZ" th:selected="${#locale.language}=='kz'">KZ</option>
</select>
</div>
<input type="button" value="Logout" onclick="{window.location='/logout'}"/>
<div id="subtitle">
    <p>Track the word usage in your text</p>
</div>
<div id="hat-container">
    <img id="hat-image" src="/img/hat.png" alt="Online word counting tool, Hat">
</div>


<div id="main-column">

    <form th:action="@{/analyseText}" th:object="${textForm}" method="POST">
        <div>
            <label for="text">Text:</label>
            <textarea id="text" placeholder="Paste text here." cols="50" rows="10" th:field="*{text}"></textarea>
        </div>
        <div>
            <input type="submit" name="action" value="Analyse"/>
            <input type="submit" name="action" value="Save"/>
        </div>
    </form>

    <div id="date-container" class="form-group" style="float: left; width:50px;" >
        <form th:action="@{/selectDate}" method="POST">
            <select name="dateSelector" id="datesSelector" onchange="this.form.submit()">
                <option th:each="selectorDTO : ${dateSelector}"
                        th:value="${selectorDTO.getTextId()}"
                        th:selected="${selectorDTO.isSelected()}"
                        th:text="${selectorDTO.getDate()}">
                </option>
            </select>
        </form>
    </div>

    <div id="stats-container" style="clear: both">
        <div class="sentence-count main-stat"><span th:text="${sentences}">0</span>

        </div>
        <div class="main-stat-text"><span th:text="#{sentences}"></span></div>
        <div>
            <table>

                <tr>
                    <td>
                        <div class="minor-stat"><span class="avg-words-per-sentence-count" th:text="${wordsPerSentence}">0</span>
                            <span th:text="#{wordsPerSentence}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="paragraph-count" th:text="${paragraphs}">0</span>
                            <span th:text="#{paragraphs}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="paragraph-word-count" th:text="${wordsPerParagraph}">0</span>
                            <span th:text="#{wordsPerParagraph}"></span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="letters-per-sentence" th:text="${lettersPerSentence}">0</span>
                            <span th:text="#{lettersPerSentence}"></span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="alpha-count" th:text="${letters}">0</span>
                            <span th:text="#{lettersTotal}"></span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="word-count" th:text="${words}">0</span>
                            <span th:text="#{wordsTotal}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="max-words-per-sentence-count" th:text="${maxSentenceLen}">0</span>
                            <span th:text="#{maxSentenceLen}"></span> </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="min-words-per-sentence-count" th:text="${minSentenceLen}">0</span>
                            <span th:text="#{minSentenceLen}"></span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="question-count" th:text="${questions}">0</span>
                            <span th:text="#{questions}"></span></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="unique-word-count" th:text="${uniqueWords}">0</span>
                            <span th:text="#{uniqueWords}"></span></div>
                    </td>
                </tr>
            </table>
        </div>

    </div>


    <div id="text-width-tester">
    </div>
</div>


<div style="position:absolute; left:-8000px; top:-8000px;">
</div>

</body>
</html>
