<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Word counting tool</title>
    //
    <link href="mystyle.css" rel="stylesheet">
    //
    <link rel="stylesheet" href="style.css" type="text/css"/>
    //
    <link rel="stylesheet" href="reset.css" type="text/css"/>
    <link href="../static/css/my.css"
          th:href="@{/css/my.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div id="subtitle">
    <p>Track the word usage in your text</p>
</div>


<div id="main-column">

    <form th:action="@{/analyseText}" th:object="${textForm}" method="POST">
        <label for="text">Text:</label>
        <textarea id="text" placeholder="Paste text here." cols="50" rows="10" th:field="*{text}"></textarea>
        <input type="submit" name="action" value="Analyse"/>
        <input type="submit" name="action" value="Save"/>
    </form>

    <input type="button" value="Logout" onclick="{window.location='/logout'}"/>

    <form th:action="@{/selectDate}" th:object="${selectForm}" method="POST">
        <div class="form-group">
            <label for="datesSelector">Choose date:</label>
            <select th:field="*{textId}" id="datesSelector" onchange="this.form.submit()">
                <option value="">Nothing selected</option>
                <option th:each="selectorDTO : ${dateSelector}"
                        th:value="${selectorDTO.getTextId()}"
                        th:text="${selectorDTO.getDate()}">
                </option>
            </select>
        </div>
    </form>

    <div id="stats-container">
        <div class="sentence-count main-stat"><span style='font-size:170%;font-weight:bold' th:text="${sentences}">0</span></div>
        <div class="main-stat-text"><h1>sentences</h1></div>
        <div id="minor-stats-container">
            <table>

                <tr>
                    <td>
                        <div class="minor-stat"><span class="avg-words-per-sentence-count" th:text="${wordsPerSentence}">0</span> words per sentence</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="paragraph-count" th:text="${paragraphs}">0</span> paragraphs</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="paragraph-word-count" th:text="${wordsPerParagraph}">0</span> words per paragraph</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="letters-per-sentence" th:text="${lettersPerSentence}">0</span> letters per sentence</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="alpha-count" th:text="${letters}">0</span> letters, total</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="word-count" th:text="${words}">0</span> words, total</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="max-words-per-sentence-count" th:text="${maxSentenceLen}">0</span> max sentence length (words)</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="min-words-per-sentence-count" th:text="${minSentenceLen}">0</span> min sentence length (words)</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="question-count" th:text="${questions}">0</span> questions</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="minor-stat"><span class="unique-word-count" th:text="${uniqueWords}">0</span> unique words</div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="word-frequency-container">
            <p class="title">Most used words:</p>
            <table>

            </table>
            <p class="more-freq-word-button">+ More words...</p>
        </div>

        <div class="personal-pronouns">
            <p><span class="first"><span style='font-size:170%;font-weight:bold'>0</span>% First person</span>,<span class="third"><span style='font-size:170%;font-weight:bold'>0</span>% Third person</span>
            </p>
        </div>

    </div>

    <!--<div id="under-footer">
        <h1 class="title">Hi!</h1>
        <p class="body"></p>
    </div>-->

    <div id="text-width-tester">
    </div>
</div>


<div style="position:absolute; left:-8000px; top:-8000px;">
</div>

</body>
</html>
